.info-container {
  width: 35%;
  padding-left: 2.2rem;
}

.info {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: bold;
}

li {
  margin-bottom: 11px;
  list-style: circle;
  font-size: 12px;
}
