.event-single-body {
  display: flex;
  align-items: center;
  text-align: justify;
  background-color: #fff;
  gap: 1.5rem;
  width: 320px;
  padding: 0.2rem;
  border-radius: 10px;
  border: 2px solid black;
}

.event-date {
  color: rgba(0, 0, 0, 0.861);
}

.event-activity {
  color: rgba(0, 0, 0, 0.861);
}
.event-single {
  white-space: nowrap;
  font-weight: bold;
}

.iu-color {
  color: rgb(255, 68, 0);
}

/* .list-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 200px;
} */
