.calendar-contains {
  flex-direction: column;
  padding-right: 1.5rem;
  font-size: 13px;
  height: 200px;
  width: 400px;
  overflow-y: scroll;
  overflow-y: hidden;
  overflow-x: hidden;
  scroll-behavior: smooth;
  /* background-color: rgb(100, 100, 100); */
  background-color: #333;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  padding: 2rem 1.5rem;
  height: 200px;
  margin-right: 1rem;
  border-radius: 10px;
}
