.event-single-body {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  background-color: #fff;
  gap: 1.5rem;
  width: 330px;
  padding: 0.2rem;
  border-radius: 10px;
  border: 2px solid black;
}

.event-date {
  color: rgba(0, 0, 0, 0.861);
}

.event-activity {
  color: rgba(0, 0, 0, 0.861);
}
.event-single {
  white-space: nowrap;
  font-weight: bold;
}

.iu-color {
  color: rgb(255, 68, 0);
}

.list-box {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 140px;
}

.list-box-2 {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 60px;
}

.list-box-3 {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 90px;
}

@media (max-width: 767px) {
  .event-single-body {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    background-color: #fff;
    gap: 1.5rem;
    width: 280px;
    padding: 0.2rem;
    border-radius: 10px;
    border: 2px solid black;
  }
}