.input-container {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

input {
  padding: 0.4rem;
  width: 320px;
  border-radius: 5px;
  border: none;
  margin-left: 0.7rem;
  border-style: none;
  background-color: #333;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}

.input-btn {
  margin-left: 0.7rem;
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  background-color: orange;
  cursor: pointer;
  font-weight: bold;
}

.input-btn:hover {
  background-color: #fff;
  transition: 0.2s;
}
